.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.ibox-title .label {
    float: left;
    margin-left: 4px;
}

.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
    font-weight: 600;
}

.label-success, .badge-success {
    background-color: #1c84c6;
    color: #FFFFFF;
}

.label {
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}

.ibox-content {
    clear: both;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.no-margins {
    margin: 0 !important;
}

h1 {
    font-size: 30px;
}

.text-navy {
    color: #1ab394;
}

.stat-percent {
    float: right;
}

.stat-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

h3,h4,h5 {
    font-weight: 600;
}

h3 {
    font-size: 16px;
}

.text-warning {
    color: #f8ac59;
}

.text-danger {
    color: #ed5565;
}

.text-success {
    color: #1c84c6;
}
