.news_info{
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e2e2e2;
}

.news{
    width: 94%;
    margin: 22px auto;
    overflow: hidden;
    position: relative;
}

.news_title{
    cursor: pointer;
    font-size: 25px;
}

.news_title:hover{
    text-decoration: underline;
}

.news_cat{
    font-size: 16px;
}

.createtime{
    display: inline-block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #999;
    font-size: 16px;
}