/*
*baidu
*/
.baidu{
    margin-top: 30px;
    margin-bottom: 30px;
}

.baidu a{
	display: inline-block;
	width: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    margin-right: 6px;
    font-size: 12px;
}

.baidu a:hover{
	background: #f2f8ff;
    border: 1px solid #38f;
}

.baidu .np{
	height: 30px;
    padding: 0 18px;
	width: 74px;
}

.baidu .disabled{
    font-size: 12px;
	display: inline-block;
	border: 0;
	width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

