<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blogss.mapper.HomeMapper">

  <select id="selectNewsCountByStatus" resultType="Map">
    SELECT
    status,
    COUNT(*) AS count
    FROM
    news
    GROUP BY status
  </select>

    <select id="selectNewsCountByDate" resultType="Map" parameterType="Map">
        select DATE_FORMAT(addTime,'%Y-%m-%d') as addTime,count(*) as count from news
        where 1 = 1
        <if test="qiantian != null and qiantian != ''">
            and DATE_FORMAT(addTime,'%Y-%m-%d') BETWEEN #{qiantian} and #{today}
        </if>
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        group by DATE_FORMAT(addTime,'%Y-%m-%d')
    </select>

    <select id="selectVisitCountByDate" resultType="map" parameterType="Map">
        SELECT DATE_FORMAT(time,'%Y-%m-%d') as time,COUNT(*) AS count FROM visit
        <where>
            <if test="yesterday!=null and yesterday!='' and format=='day'">
                and DATE_FORMAT(time,'%Y-%m-%d') BETWEEN #{yesterday} AND #{today}
            </if>
            <if test="yesterday!=null and yesterday!='' and format=='month'">
                and DATE_FORMAT(time,'%Y-%m') BETWEEN #{yesterday} AND #{today}
            </if>
            <if test="yesterday!=null and yesterday!='' and format=='year'">
                and DATE_FORMAT(time,'%Y') BETWEEN #{yesterday} AND #{today}
            </if>
        </where>
        <if test="format=='day'">
            GROUP BY DATE_FORMAT(time,'%Y-%m-%d')
        </if>
        <if test="format=='month'">
            GROUP BY DATE_FORMAT(time,'%Y-%m')
        </if>
        <if test="format=='year'">
            GROUP BY DATE_FORMAT(time,'%Y')
        </if>
    </select>
</mapper>