<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.blogss.mapper.MenuMapper">
    <sql id="columns">id,name,murl,priority, pid</sql>

    <!--查询菜单列表-->
    <select id="selectMenuList" resultType="Menu" parameterType="String">
        SELECT <include refid="columns"></include>
        FROM menu WHERE pid = #{id} ORDER  BY priority asc;
    </select>

    <!--当前结点是否为父节点-->
    <select id="isParent" resultType="int" parameterType="int">
        select count(*) from menu where pid = #{id,jdbcType=INTEGER}
    </select>

    <!--总记录数-->
    <select id="totRecord" resultType="int" parameterType="Menu">
        SELECT count(*) from  menu where 1=1
        <if test="name != null and name != ''">
            and name like concat('%',#{name},'%')
        </if>

        <if test="murl != null and murl != ''">
            and murl like concat('%',#{murl},'%')
        </if>


    </select>

    <!--后台菜单查看,分页-->
    <select id="selectMenuByPage" resultType="Menu">
        select <include refid="columns"></include>
        from menu
        where 1=1
        <if test="menu.name != null and menu.name != ''">
            and name like concat('%',#{menu.name},'%')
        </if>
        <if test="menu.murl != null and menu.murl != ''">
            and murl like concat('%',#{menu.murl},'%')
        </if>
        order by priority asc
        limit #{pageIndex},#{pageSize}
    </select>

    <select id="addShow" resultType="Menu">
        select id,name
        from menu
    </select>

    <select id="editShow" parameterType="String" resultType="Menu">
        select <include refid="columns"></include>
        from menu
        where id = #{id}
    </select>

    <!--添加菜单-->
    <insert id="add" parameterType="Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="murl != null">
                murl,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="pid != null">
                pid,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="murl != null">
                #{murl,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority},
            </if>
            <if test="pid != null">
                #{pid},
            </if>
        </trim>
    </insert>

    <update id="edit" parameterType="Menu">
        update menu
        set name = #{name},
        murl = #{murl,jdbcType=VARCHAR},
        priority = #{priority},
        pid = #{pid}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="delBatch">
        delete from menu
        where id in
        <foreach collection="array" item="item" index="index" separator="," open="(" close=")">
            #{item}
        </foreach>
    </delete>

    <!--删除一条-->
    <delete id="delOne" parameterType="String">
        DELETE FROM menu WHERE id = #{id}
    </delete>


</mapper>