body{
    font-family: "微软雅黑";
    width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #F6F6F6 !important;
}

a{
    color: black;
}

.header{
    background: #338c22;
    height: 41px;
    width: 100%;
    color: #fff;
    line-height: 40px;
}

.topullist li{
    margin-left:10px;
    cursor: pointer;
}

.topullist li a{
    color:#fff;
    text-decoration: none;
}

.topullist li a:hover{
    color:#eee;
}

.userphoto {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px #eee;
}

.header-right{
    float: right;
    list-style: none;
}

.header-right>li{
    float: left;
    list-style: none;
}

.column li a{
    padding-bottom: 5px;
    padding:0px;
    margin-left: 10px;
    margin-top: 2px;
}

.uline {
    border-bottom: 3px solid #338c22;
    color: #338c22;
}


.footer .footer_menu{
    margin: 20px 0px;
}

.footer .footer_menu ul{
    list-style: none;
    margin-bottom: 10px;
}

.footer .footer_menu ul li{
    display: inline-block;
    margin-right: 10px;
}


.gotop{
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 60px;
    right: 50px;
    cursor: pointer;
    border: 1px solid #6EB8FC;
    border-radius: 3px;
    background-color: #fff;
    background-image: url(../images/gotop/gotop.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
