.whitebg {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.content{
    margin-bottom: 25px;
}

.head{
	width: 100%;
	overflow: hidden;
    margin: 0 auto 22px;
    padding: 34px 0 0px;
}

.head span{
	display: block;
    float: left;
    width: 10px;
    height: 10px;
    background-color: #52cf99;
    margin: 10px 13px 0 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.head h1{
    float: left;
    font-size: 30px;
    margin-top: 0px;
}

.profile{
    height: 166px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
    padding: 24px 0 24px;
}

.profile img{
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.profile p{
    line-height: 24px;
    width: 160px;
    margin: 8px auto 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.common-title{
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
}

.line {
    height: 1px;
    background-color: #d0d6d9;
    margin-top: 12px;
}

.itemBox {
    height: 88px;
    overflow: hidden;
    margin: auto;
    border-bottom: 1px solid #d9dde1;
}

.itemBox .left {
    width: 60px;
    float: left;
    font-size: 28px;
    color: #d9dde1;
    line-height: 98px;
    padding-left: 24px;
}

.itemBox .center {
    padding-top: 22px;
    width: 510px;
    float: left;
    margin-left: 20px;
}

.itemBox p {
    line-height: 24px;
    font-size: 12px;
}

.itemBox .font1 {
    color: #2b333b;
    font-size: 16px;
    font-weight: 700;
}

.itemBox .font2 {
    color: #93999f;
    font-size: 14px;
}

.itemBox .font3 {
    color: #2b333b;
    font-size: 14px;
}

.itemBox .font4 {
    color: #f01414;
    font-size: 14px;
}

.itemBox .right {
    float: right;
    padding-right: 12px;
    margin-top: 28px;
}



.list-group-item:not(.active){
    line-height: 30px;
}

.center th{
    font-size: 16px;
}

.order_head{
    background-color: #ece9e1;
    height: 75px;
}

.order_head ul{
    list-style: none;
    padding-left: 15px;
    line-height: 75px;
}

.order_head ul li{
    float: left;
    font-size: 18px;
    text-align: left;
}

.order_content ul{
    list-style: none;
    padding-left: 15px;
}

.order_content ul li{
    overflow: hidden;
}

.order_content ul li:nth-child(odd){
    border-bottom: 1px solid #ccc;
}

.order_content ul li div{
    overflow: hidden;
}

.num_time{
    line-height: 50px;
}

.order_content img{
    height: 88px;
    width: 88px;
    display: block;
    margin-top: 16px;
}


.order_content ul li div h2{
    font-size: 16px;
    margin: 39px 0 13px;
 }

 .order_content ul li div h3{
    font-size: 16px;
 }

 .order_detail a{
    color: #f18d26;
    display: block;
    margin: 39px 0 13px;
 }

 .modal-body p{
    color: #a5a5a5;
    margin: 0 0 16px 30px;
 }

