.whitebg {
    background: #fff;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.content{
    margin-bottom: 25px;
}

.head{
	width: 100%;
	overflow: hidden;
    margin: 0 auto 22px;
    padding: 34px 0 0px;
}

.head span{
	display: block;
    float: left;
    width: 10px;
    height: 10px;
    background-color: #52cf99;
    margin: 10px 13px 0 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.head h1{
    float: left;
    font-size: 30px;
    margin-top: 0px;
}

.section01{
    height:166px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.section01 div{
    height: 100%;
    border-left: 1px dashed #bfbfbf;
    padding-top: 40px;
}

.section01 h4{
    text-align: center;
    color: #02bf6d;
}

.section01 h5{
    text-align: center;
}

.section01 a{
    display: block;
    margin: 10px 20px 10px;
}

.list-group-item:not(.active){
    line-height: 30px;
}

.center th{
    font-size: 16px;
}

.set{
    width: 486px;
    margin: 56px auto 56px;
    overflow: hidden;
}

.set ul>li{
    list-style: none;
}

.set ul>li>em{
    padding-right: 10px;
}

.set ul>li>span{
    display: inline-block;
    width: 110px;
    text-align: left;
    line-height: 49px;
}

.set>ul>li>a{
    width: 97px;
    margin-left: 60px;
}

.ren_set{
    display: none;
    margin-top: 50px;
    display: none;
}

.order_head{
    background-color: #ece9e1;
    height: 75px;
}

.order_head ul{
    list-style: none;
    padding-left: 15px;
    line-height: 75px;
}

.order_head ul li{
    float: left;
    font-size: 18px;
    text-align: left;
}

.order_content ul{
    list-style: none;
    padding-left: 15px;
}

.order_content ul li{
    overflow: hidden;
}

.order_content ul li:nth-child(odd){
    border-bottom: 1px solid #ccc;
}

.order_content ul li div{
    overflow: hidden;
}

.num_time{
    line-height: 50px;
}

.order_content img{
    height: 88px;
    width: 88px;
    display: block;
    margin-top: 16px;
}


.order_content ul li div h2{
    font-size: 16px;
    margin: 39px 0 13px;
 }

 .order_content ul li div h3{
    font-size: 16px;
 }

 .order_detail a{
    color: #f18d26;
    display: block;
    margin: 39px 0 13px;
 }

 .modal-body p{
    color: #a5a5a5;
    margin: 0 0 16px 30px;
 }

